{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASMSL</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}" />
    <!--
            Tooplate 2111 Pro Line
            http://www.tooplate.com/view/2111-pro-line
            -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>お問い合わせ</h1>
                <p>お問い合わせフォームです。</p>
                <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>